@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Formato*/
*{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/background-cover.svg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
form{
    width: 400px;
    height: auto;
    background: white;
    padding: 10%;
}
h1{
    max-width: 200px;
    font-size: 20px;
    font-weight: 450;
    color: #373737;
}
/*Menú*/
.container_all{
    position: relative;
    right: 0;
    transition: all 300ms;
}
header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all 300ms;
}
.move_content{
    right: 180px;

}
.container_header{
    max-width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;   
}
header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 150px;
}
.container_nav{
    position: relative;
    height: 100%;
}
nav{
    height: 100%;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0px 20px;
    list-style: none;
    text-decoration: none;
}
nav ul li a{
    color: #373737;
    font-size: 14px;
}
.select{
    background: #359EF9;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}
.nav_mode{
    height: 110px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}
.btn_menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}
.btn_menu:hover{
    background: #f5f5f5;
}
/*Formulario*/
#nombre{
    width: 100%;
    height: 30px;
}
#email{
    width: 100%;
    height: 30px;
}
#textarea{
    width: 100%;
    height: 30px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
#button{
    width: 100%;
    height: 36%;
    background-color: yellow;
}
/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    background-image: url("../img/background-footer.svg");
    background-size: cover;
    background-color: transparent !important;
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}
.box__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.box__footer .logo img{
    width: 100px;
}
.box__copyright{
    max-width: 1200px;
    margin: auto;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}
.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}